<footer class="footer">
  <div class="container">
    footer|footer|footer|footer|footer|footer|footer|footer|footer|footer|footer|
    footer|footer|footer|footer|footer|footer|footer|footer|footer|footer|footer|
    footer|footer|footer|footer|footer|footer|footer|footer|footer|footer|footer|
    footer|footer|footer|footer|footer|footer|footer|footer|footer|footer|footer|
    footer|footer|footer|footer|footer|footer|footer|footer|footer|footer|footer|
    footer|footer|footer|footer|footer|footer|footer|footer|footer|footer|footer|
    footer|footer|footer|footer|footer|footer|footer|footer|footer|footer|footer|
    
  </div>
</footer>