<header class="header">
	<div class="header-holder container">
    <a href="#" class="logo">
      <img src="./img/logo.svg" alt="logo">
    </a>

		<nav class="nav">
      <ul>
        <li><a href="#hero">Hero</a></li>
        <li><a href="#scroll-tabs">Scroll & Tabs</a></li>
        <li><a href="#default-slider">Default slider</a></li>
        <li><a href="#modal">Modal</a></li>
        <li><a href="#form-elements">Form elements</a></li>
        <li><a href="">Others</a></li>
      </ul>  
    </nav>

    <div class="burger">
      <div class="burger__holder">
        <span></span>
      </div>
    </div>
	</div>
</header>