<header class="header">
	<div class="container header__container">

		<a href="index.html" class="logo">
      <img src="./img/logo.svg" alt="logo" width="159" height="33">  
    </a>

    <div class="header-wrap">
      <nav class="nav-menu">
        <ul>
          <li><a href="#">О проекте</a></li>
          <li><a href="#">Направления</a></li>
          <li><a href="#">Собственность</a></li>
          <li><a href="#">Стратегия</a></li>
          <li><a href="#">Детали ICO</a></li>
          <li><a href="#">Команда</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </nav>

      <div class="header-widget">
        <div class="langs">
          <div class="langs-current">Ru</div>
          <ul class="langs-list">
            <li class="langs-items">
              <a href="#" class="langs-link">Eng</a>
            </li>
            <li class="langs-items">
              <a href="#" class="langs-link">Ru</a>
            </li>
          </ul>
        </div>

        <a href="#" class="private">
          <span>Личный кабинет</span>
        </a>
      </div>
      
    </div>


	</div>
</header>