/* styles */
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	overflow-x: hidden;
}

.header,
.footer {
	flex: 0 0 auto;
}

.main-page {
	flex: 1 0 auto;
	overflow: hidden;
}

.container {
	width: 1140px;
	max-width: 95%;
	color: $black;
	margin: 0 auto;
}

// Btn up  Styles
.back-to-top {
	@include transition;
	@include hide-elem;
	position: fixed;
	right: 15px;
	bottom: 15px;
	z-index: 777;
	cursor: pointer;
	height: 34px;
	width: 34px;
	> svg {
		width: 100%;
		height: 100%;
		transform: rotate(-90deg);
	}
	&.show {
		@include show-elem;
	}
}

// Slick styles
.slick-arrow {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	> svg {
		transition: 0.3s ease-in-out;
	}
}


