// Media sizes
$desktop-lg: 1920px;
$desktop-md: 1440px;
$desktop: 1200px;
$tablet-landscape: 1024px;
$tablet-portrait: 992px;
$mobile-landscape: 768px;
$mobile-middle: 568px;
$mobile-portrait: 479px;


@mixin media($size) {
  @media only screen and (max-width: $size) {
    @content;
  }
}

@mixin desktop-lg {
  @media (max-width: #{$desktop-lg}) {
    @content;
  }
}

@mixin desktop-md {
  @media (max-width: #{$desktop-md}) {
    @content;
  }
}

@mixin desktop-bg {
  @media (max-width: #{$desktop-bg}) {
    @content;
  }
} 

@mixin desktop-st {
  @media (max-width: #{$desktop-st}) {
    @content;
  }
} 

@mixin desktop {
  @media (max-width: #{$desktop}) {
    @content;
  }
} 

@mixin tablet-l {
  @media (max-width: #{$tablet-landscape}) {
    @content;
  }
} 

@mixin tablet-p {
  @media (max-width: #{$tablet-portrait}) {
    @content;
  }
} 

@mixin mobile-l {
  @media (max-width: #{$mobile-landscape}) {
    @content;
  }
}

@mixin mobile-middle {
  @media (max-width: #{$mobile-middle}) {
    @content;
  }
} 

@mixin mobile-p {
  @media (max-width: #{$mobile-portrait}) {
    @content;
  }
}

@mixin min-tablet-p {
  @media (min-width: #{$tablet-portrait}) {
    @content;
  }
} 

@mixin min-tablet-l {
  @media (min-width: #{$tablet-landscape}) {
    @content;
  }
} 


// Truncate
@mixin text-truncate() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// Placeholders
@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

// Show / Hide elem
@mixin hide-elem() {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s ease;
}
@mixin show-elem {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

// Pseudo-elements
@mixin after() {
  &:after {
    content: '';
    display: block;
    position: absolute;
  }
}
@mixin before() {
  &:before {
    content: '';
    display: block;
    position: absolute;
  }
}
// Transitions
@mixin transition() {
  transition: all 0.3s ease-in
}
@mixin transition-long() {
  transition: all 0.5s ease-in-out
}

//Hover
@mixin hover() {
  @media only screen and (min-width: 1024px) {
    &:hover {
      @content;
    }
  }
}


