// Basic colors
$white: #fff;
$black: #000;
$gray: #ccc;

// Custom colors...
$text: #686868;
$m01: #667eea; /* main 1*/
$m02: #764ba2; /* main 2*/
$n01: #f5f7fa; /* neutral 1*/
$n02: #c3cfe2; /* neutral 2*/

// Malihu scrollbar customs
$dragger_bar-color: #2c3e50;
$dragger_bar-width: 4px;
$dragger_bar-radius: 14px;
$dragger_rail-color:#7f8c8d;
$scrollTools-opacity: 1;