#ui-kit {
	background-color: rgba(216,219,230,0.4);

	h1 {
		text-align: center;
		margin: 34px;
	}

	.hero {
		height: 100vh;
		position: relative;
		&__img {
			text-align: center;
		}
		.scroll-next {
			position: absolute;
			bottom: 45px;
			left: 50%;
			transform: translate(-50%, 0);
		}
	}

	.scroll-text {
		max-width: 750px;
		width: 100%;
		margin: 0 auto;
		height: 140px;
	}

	.base {
		background: url(../img/line.svg) no-repeat center / auto;
		margin: 25px 0;
	}

	.slider-block {
		&__box {
			position: relative;
		}
		&__arrows {
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: absolute;
			z-index: 100;
			top: 50%;
			transform: translateY(-50%);
			width: 100%;
		}
		&__list {}
		&__items {
			height: 120px;
			border: 1px solid #27ae60;
		}
	}

}